@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Micro+5+Charted&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.calculator {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 400px) {
  .calculator{
    width: 98vw;
    height: 100vh;
  }
}

.display {
  height: 100%;
  font-size: 50px;
  text-align: right;
  padding: 5px;
  margin-bottom: 10px;
  overflow: auto;
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  height: 42px;
  width: 70px;
  font-size: 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #9ad6ee;
  left: 0;
}

button:hover {
  background-color: #fb761f;
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.grid-container-one {
  display: grid;
  height: 500px;
  grid-template-columns: 100%;
  grid-template-rows: 40% 55%;
  background-color: #f2ecf7;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.grid-one-item-one {
  height: 100%;
  border: dashed black;
  border-width: 4px;
  background: repeating-linear-gradient(
    -45deg,

    #f8f8f8,
    #f8f8f8 10px,
    #ededed 10px,
    #ededed 20px
  );
}

.grid-one-item-two {
  height: 100%;
  margin-top: 35px;
  padding-top: 20px;
  box-sizing: border-box;
}

.grid-container-two {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 5px;
}

button {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  align-self: flex-end;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  transform-origin: bottom;
}
